@page "/reportes/ranking-vendedoras"
@using GSCommerce.Client.Components
@using GSCommerce.Client.Models.DTOs.Reportes
@inject ReporteService ReporteService

<ReportsBreadcrumb Title="Ranking de Vendedoras" />

<div class="row mb-3">
    <div class="col-md-4">
        <label>Desde:</label>
        <InputDate @bind-Value="desde" class="form-control" />
    </div>
    <div class="col-md-4">
        <label>Hasta:</label>
        <InputDate @bind-Value="hasta" class="form-control" />
    </div>
    <div class="col-md-4 d-flex align-items-end">
        <button class="btn btn-primary w-100" @onclick="BuscarRanking">Buscar</button>
    </div>
</div>

@if (ranking.Any())
{
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Vendedora</th>
                <th>Ventas Realizadas</th>
                <th>Total Clientes</th>
                <th>Monto Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ranking.Select((r, i) => new { r, i }))
            {
                <tr>
                    <td>@(item.i + 1)</td>
                    <td>@item.r.Vendedora</td>
                    <td>@item.r.VentasRealizadas</td>
                    <td>@item.r.TotalClientes</td>
                    <td>S/ @item.r.TotalVentas:N2</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info text-center">No hay ventas registradas en este rango.</div>
}

@code {
    private List<RankingVendedoraDTO> ranking = new();
    private DateTime desde = DateTime.Today.AddDays(-7);
    private DateTime hasta = DateTime.Today;

    protected override async Task OnInitializedAsync()
    {
        await BuscarRanking();
    }


    private async Task BuscarRanking()
    {
        ranking = await ReporteService.ObtenerRankingVendedoras(desde, hasta);
    }
}
